[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
black = "*"
flake8 = "*"
autoflake = "*"
mypy="*"
pre-commit = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
redis = "*"
fastapi-cache2 = "*"


pytest="*"
httpx="*"
requests="*"
pytest-asyncio = "*"


[dev-packages]

[requires]
python_version = "3.10"
